@media screen and (max-width:567px) {
body{
  min-width: initial;
}
header {
    padding: 30px 0 0 0;
    /*border-bottom: 3px solid #000e46;
    margin-bottom: 15px;*/
  height:50px !important; /*180810小沢追記*/
  background: rgba(255,255,255,0.8) !important;/*180810小沢追記*/
}
.fixed_subnav {
    position: fixed;
    z-index: 100;
    padding: 10px 0;
    background: rgba(255,255,255,0.7);
    top: 12%;
}
div#header_bk { /*180810小沢追加*/
  height:80px; 
}
header .header_in {
      width: 96.4%;
    align-items: center;
    justify-content: space-between;
      position: relative;
}
header .header_in .header_right {
    width: 27%;
    position: absolute;
    left: 0;
    top: 0;
}
header .header_in .header_left {
    width: auto;
  display:none;
}
header .header_in .header_left ul {
    width: 70%;
}
header .header_in .header_left ul li {
    margin-top: 0;
    margin-right: 0;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #000e46;
}
header .sp_nav{
  display:block;
}
header .sp_nav dl dt{
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    top: 20px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
  right: 1%;
}
header .sp_nav dl dt span{
    display: block;
    position: absolute;    /* .navToggleに対して */
    width: 30px;
    border-bottom: solid 3px #000037;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}
header .sp_nav dl dt span:nth-child(1) {
    top: 9px;
}
header .sp_nav dl dt span:nth-child(2) {
    top: 18px;
}
header .sp_nav dl dt span:nth-child(3) {
    top: 27px;
}
/* 最初のspanをマイナス45度に */
header .sp_nav dl dt.active  span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* 2番目と3番目のspanを45度に */
header .sp_nav dl dt.active  span:nth-child(2),
header .sp_nav dl dt.active  span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
header .sp_nav dl dd {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    background: #fff;
    color: #000;
    transform: translateY(-100%);
    transition: all 0.6s;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style:none;
    overflow: -moz-scrollbars-none;
}

header .sp_nav dl dd::-webkit-scrollbar {
display: none;
}


header .sp_nav dl dd ul {
    background: #fff;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    padding: 0px 0 0 0;
}
header .sp_nav dl dd ul li {
  text-align:left;
    width: 100%;
  border-bottom: 2px solid #0b132f;
}
  header .sp_nav dl dd ul li .menu_img{
    width:130px;
    font-size:12px;
    letter-spacing:normal;
  }
  header .sp_nav dl dd ul li p{
    font-size:10px;
  }
  header .sp_nav dl dd ul li img{
    height:12px;
    width:auto;
  }
    
  header .sp_nav dl dd ul li img.large{
    height:16px;
    width:auto;
  }
/* 最後はラインを描かない */
header .sp_nav dl dd ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
header .sp_nav dl dd ul li a, 
header .sp_nav dl dd ul li span{
    display: flex;
    padding: 0.7em 6px;
  align-items:center;
  color:#000037;
}
header .sp_nav dl dd ul li span a{
  pointer-events: none;
  padding: 0;
}
  header .sp_nav dl dd ul li span.active a{
    pointer-events: auto;
  }
header .sp_nav dl dd ul li.sp_nav_parent ul.nest{
  display:none;
}
header .sp_nav dl dd ul li.sp_nav_parent ul.nest.active {
    display: block;
    padding: 0;
    margin-bottom: 1em;
  margin-top: -0.8em;
}
header .sp_nav dl dd ul li.sp_nav_parent ul.nest li {
    padding: 0 0 0 145px;
    border: 0;
}
header .sp_nav dl dd ul li.sp_nav_parent ul.nest li a {
    display: inline;
    padding: 5px 0;
}
header .sp_nav dl dd ul li .nav_product {
  display:block;
    overflow: auto;
    white-space: nowrap;
}
  header .sp_nav dl dd ul li.sp_nav_product .nav_product.active{
    display:block;
  }
header .sp_nav dl dd ul li .nav_product ul {
    padding: 0;
    display: table;
  width:100%;
    justify-content: space-between;
}
header .sp_nav dl dd ul li .nav_product ul li{
    width: 16%;
  display:table-cell;
    border-bottom: 0;
  text-align:center;
}
header .sp_nav dl dd ul li .nav_product ul li img {
    width: auto;
    height: 60px;
}
header .sp_nav dl dd ul li .nav_product ul li a {
    display: block;
  /*width:100%;*/
}
/* このクラスを、jQueryで付与・削除する */
header .sp_nav dl dd.active {
    transform: translateY(0%);
}
  
header .header_in h1 {
    width: 100%;
    margin: -15px auto 0 auto;
    text-align: center;
}
  header .header_in h1 img{
    width:23%;
  }

/*header .header_in .header_right ul li:nth-child(2){
  display:none;
}*/
header .header_in .header_right ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
}
header .header_in .header_right ul li img.illust {
    height: 28px;
}
header .header_in .header_right ul li img {
    width: auto;
    height: 15px;
}
.container{
  width: 96.4%;
}
.main_image .btn_shopnow {
    bottom: 10%;
    width: 100px;
    height: 25px;
}
.toppage h1 {
    text-align: center;
  width: 60%;
    margin: 0 auto 30px auto;
    width: 85%;
}
  .toppage h1 img{
    width: 250px;
  }
.toppage p.description {
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 30px;
}
.top_product{
  display:block;
}
  .top_product .product_col{
        margin: 0 auto 50px;
  }
.top_product .product_col ul.product_list {
    width: 85%;
   margin: 0 auto 40px auto;
}
.top_product .product_col ul.product_list li {
    text-align: left;
    width: auto!important;
    margin: 0 10px 30px 10px;
}
.top_product .product_col ul.product_list li .product_col_text {
    margin: 18px 0 15px;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: normal;
}
.top_product .product_col ul.product_list li .product_col_text img {
    height: 36px;
}
.top_products, .top_spa, .top_professional, .top_aboutus, .top_ingredient, .top_factory {
    display: block;
    margin-bottom: 30px;
  padding: 10px;
}
.top_products h2, .top_factory h2 {
    margin-bottom: 0px;
  width:60%;/*180730小沢65%から変更*/
  height:80px;/*180903小沢追記*/
}
.top_professional h2 {
    margin-bottom: 0px;
  width:45%;/*180730小沢50%から変更*/
  height:80px;/*180903小沢追記*/
}
.top_aboutus h2 {
    margin-bottom: 0px;
  width:44%;
  height:80px;/*180903小沢追記*/
}
.top_spa h2 {
    margin-bottom: 0px;
  width:42%;/*180730小沢38%から変更*/
  height:33px;/*180903小沢追記*/
}
.top_ingredient h2 {/*180903小沢追記*/
    margin-bottom: 0px;
  width:48%;
  height:87px;
}
.top_factory h2 {/*180903小沢追記*/
    margin-bottom: 0px;
  width:60%;
  height:33px;
}
.top_products .right_text, .top_spa .right_text, .top_professional .right_text, .top_aboutus .right_text, .top_ingredient .right_text, .top_factory .right_text {
    width: 100%;
    padding: 0 10px;
  box-sizing:border-box;
}
.btn_viewmore {
    width: 60%;
  margin: 0 auto;
}
.top_products .right_text .right_text_in, .top_spa .right_text .right_text_in, .top_professional .right_text .right_text_in, .top_aboutus .right_text .right_text_in, .top_ingredient .right_text .right_text_in, .top_factory .right_text .right_text_in {
    padding-left: 0;
  margin-bottom:30px;
}
.top_products .right_text .right_text_in p, .top_spa .right_text .right_text_in p, .top_professional .right_text .right_text_in p, .top_aboutus .right_text .right_text_in p, .top_ingredient .right_text .right_text_in p, .top_factory .right_text .right_text_in p{
  font-size: 13px;
  margin-bottom: 20px;
}
.top_products .left_image, .top_spa .left_image, .top_professional .left_image, .top_aboutus .left_image, .top_ingredient .left_image, .top_factory .left_image {
    width: 100%;
    order: 1;
    padding-left: 0;
  margin-bottom:20px;
}
.top_products .right_text .right_text_box, .top_spa .right_text .right_text_box, .top_professional .right_text .right_text_box, .top_aboutus .right_text .right_text_box, .top_ingredient .right_text .right_text_box, .top_factory .right_text .right_text_box {
    margin-left: 0;
}
.top_products .right_image, .top_spa .right_image, .top_professional .right_image, .top_aboutus .right_image, .top_ingredient .right_image, .top_factory .right_image {
    width: 100%;
    padding-right: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.top_products .left_text, .top_spa .left_text, .top_professional .left_text, .top_aboutus .left_text, .top_ingredient .left_text, .top_factory .left_text {
    width: 100%;
    padding: 0 10px;
  box-sizing: border-box;
}
.top_products h2 img.head_spa, .top_spa h2 img.head_spa, .top_professional h2 img.head_spa, .top_aboutus h2 img.head_spa, .top_ingredient h2 img.head_spa, .top_factory h2 img.head_spa {
    width: auto;
    height: 40px;
}
.top_products .left_text .left_text_in, .top_spa .left_text .left_text_in, .top_professional .left_text .left_text_in, .top_aboutus .left_text .left_text_in, .top_ingredient .left_text .left_text_in, .top_factory .left_text .left_text_in {
    padding-left: 0;
  margin-bottom:30px;
}
.top_products .left_text .left_text_in p, .top_spa .left_text .left_text_in p, .top_professional .left_text .left_text_in p, .top_aboutus .left_text .left_text_in p, .top_ingredient .left_text .left_text_in p, .top_factory .left_text .left_text_in p {
    width: 100%;
    white-space: inherit;
  font-size: 13px;
  margin-bottom: 20px;
}
.top_pointstage {
    margin: 40px 0 50px;
    padding: 25px 10px 40px 10px;
}
.top_pointstage h2 {
  width: 60%;
  font-size: 13px;
    margin: 0 auto ;
}
.top_pointstage ul {
    width: 80%;
    margin: 0 auto 0px;
}
.top_pointstage ul li{
  width:28%;
}
.top_community{
  margin-bottom: 30px;
}
.top_community h2{
  width: 62%;
  margin: 0 auto 30px;
}
.top_community ul.slider {
    width: calc(100% - 30px);
    margin: 0 auto;
}
.top_community .slick-counter{
  margin-top: 30px;   
}
.spa .spa_mv h1 .spa_open {
    width: 80%;
    max-height: 70px;
}
/*  .spa .spa_menu .spa_open{
    margin: 0 0 auto 13%;
    width: 80%;
  }*/
.spa .spa_concept h2 {
    text-align: center;
    width: 40%; /*180718小沢65%から変更*/
    margin: 0 auto 20px;
}
.text {
    height: 150px;
    overflow: hidden;
}
.text p {
    font-size: 13px!important;
}
.btn_five-elements {
    width: 50%; /*180718小沢90%から変更*/
    margin: 50px auto;/*180718小沢top150pxから変更*/
    text-align: center;
}
.spa .spa_concept {
    margin-bottom: 40px;
}
.spa .spa_image ul li {
    width: 50%;
}
.spa .spa_image {
    margin: 60px auto 40px;
}
.spa .spa_menu h2 .btn_view_more {
    width: 50%;
    bottom: 10px;
}
.spa .spa_menu h2 {
    margin-bottom: 65px;
    text-align: center;
    position: relative;
}
.spa .spa_menu .spa_menu_pointstage {
    background: #f4f8f9;
    margin: 40px 0 50px;
    text-align: center;
    padding: 25px 10px 30px 10px;
}
.spa .spa_menu .spa_menu_pointstage h3 {
margin: 0 auto;
width: 60%; /*180718_小沢85%から変更 */
font-size: 13px; /* 180718_小沢追記 */
}
.spa .spa_menu .spa_menu_pointstage ul {
    width: 80%;/*180718_小沢100%から変更*/
    margin: 0 auto;/*180718_小沢bottom30pxから変更*/
}
.spa .spa_menu .spa_menu_pointstage ul li{
width:28%;    
}
.spa .spa_menu .spa_menu_access h3 {
    width: 25%;/*180718_小沢65%から変更*/
  margin-bottom: 30px;/* 180731_小沢追記 */
}
.spa .spa_menu .spa_menu_access address {
    line-height: 1.8;
    font-size: 13px;
}
.spa .spa_menu .spa_menu_contact h3 {
    width: 28%;/*180718_小沢65%から変更*/
  margin-bottom: 30px;/* 180731_小沢追記 */
}
.spa .spa_menu .spa_menu_contact .contact_box_info {
    text-align: center;
    font-size: 13px;/*180718_小沢18pxから変更*/
    line-height: 1.6;/*180718_小沢2から変更*/
}
.spa .spa_menu .spa_menu_contact .contact_box_info span {
  font-size:30px;
    display: block;
}
.aboutus .aboutus_head ul li a img {
    width: auto;
    height: 33px;
}
.aboutus .aboutus_head {
    margin-bottom: 60px;
}
/*.aboutus .aboutus_story h2 {
    width: 45%;
}*/
.aboutus .aboutus_values h2 {
    /*width: 45%;*/
    margin: 0 auto 40px;
}
.aboutus .aboutus_values .values_box .values_col {
    display: block;
  padding:10px;
}
.aboutus .aboutus_values .values_box .values_col .values_col_image_right {
    width: 100%;
    margin-bottom:20px;
}
.aboutus .aboutus_values .values_box .values_col .values_col_text_left {
    width: 100%;
    padding: 0;
  font-size:15px;
  white-space: initial;
}
.aboutus .aboutus_values h3 img {
    height: 35px;
    width: auto;
}
.about_menu {
    position: relative;
    margin-bottom: 45px;
  font-size:13px;
  line-height:1.8;
}
.about_menu p{
  display:none;
}
.text_about {
  display:block;
    width: 80%;
  margin:0 auto;
    padding-top: 45px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  text-indent:-9999px;
  background:url('../wp-content/themes/lapidem/img/btn_readmore_dblue-jp.svg') no-repeat center;
  background-size:contain;
}
  .text_about.active{
    background:url('../wp-content/themes/lapidem/img/btn_readmore_dblue_on.svg') no-repeat center;
  }
  .aboutus .about_description{
    padding:0;
  margin-bottom:100px;
  }
  .aboutus .about_description h2{
  width:90%;
}
.aboutus .about_description h3{
  font-size:5.5vw;
}
.aboutus .aboutus_team h2 {
    width: 45%;/*180718小沢65%から変更*/
  margin: 0 auto 10px;/*180718小沢bottom20pxから変更*/
}
.aboutus .aboutus_team h3 {
    text-align: center;
    width: 40%;/*180718小沢60%から変更*/
    margin: 0 auto 20px;
}
.aboutus .aboutus_team ul.team_lapidem {
    width: 100%;
    margin: 0 auto 50px;
}
.aboutus .aboutus_team ul.team_lapidem li {
    width: 27.5%;
}
.aboutus .aboutus_team ul.team_lapidem li figure figcaption {
    font-size: 3vw;
}
.factory .factory_relationship h2 {
    text-align: center;
    width: 65%;/*180718小沢100%から変更*/
    margin: 0 auto 20px;
}
.factory .factory_relationship h3 {
    font-size: 5vw;
    margin-bottom: 30px;
    line-height: 1.5;
}
.factory .factory_relationship p.description_img {
    margin: 120px 0 60px 0;
}
.factory .factory_relationship {
    text-align: center;
    margin-bottom: 70px;
}
.factory .factory_description p.description {
    font-size: 13px;/*180718小沢4vwから変更*/
    line-height: 1.8;
    margin-bottom: 70px;
}
.factory .factory_manufacturing h2 {
    width: 80%;/*180718小沢100%から変更*/
    margin: 0 auto 50px;
}
.factory .factory_manufacturing .factory_manufacturing_box {
    padding: 10px;
    margin-bottom: 40px;
}
.factory .factory_manufacturing .factory_manufacturing_box dl {
    display: block;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.factory .factory_manufacturing .factory_manufacturing_box dl dt {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px;
}
.factory .factory_manufacturing .factory_manufacturing_box dl dd {
    width: 100%;
}
.factory .factory_manufacturing .factory_manufacturing_box dl.flow1:after {
    width: 100px;
    padding: 0 40px;
  box-sizing:border-box;
    left: 0;
    bottom: -20px;
    right: 0;
    margin: auto;
}
.factory .factory_manufacturing .factory_manufacturing_box dl dd h3 {
    text-align: center;
  margin-bottom:15px;
}
.professional .professional_concept {
    margin-bottom: 85px;
}
.professional .professional_concept h2 {
    width: 60%;/*180718小沢85%から変更*/
    margin: 0 auto 20px;
}
.professional .professional_concept .professional_concept_bannar {
    margin-bottom: 45px;
}
.professional .professional_concept .professional_concept_box {
    padding: 15px;
}
.professional .professional_concept .professional_concept_box ul {
    display: block;
}
.professional .professional_concept .professional_concept_box ul li {
    width: 100%;
    margin-bottom: 45px;
}
.professional .professional_flowinfo h2 {
    width: 80%;/* 180731_小沢100%から変更 */
    margin: 0 auto 20px;
}
.professional .professional_flowinfo .professional_flowinfo_box {
    border: 3px solid #000e46;
    padding: 15px;
    margin-bottom: 40px;
}
.professional .professional_flowinfo .professional_flowinfo_box .professional_flowinfo_box_in dl {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.professional .professional_flowinfo .professional_flowinfo_box .professional_flowinfo_box_in dl dt {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px;
}
.professional .professional_flowinfo .professional_flowinfo_box .professional_flowinfo_box_in dl dd {
    width: 100%;
}
.professional .professional_flowinfo .professional_flowinfo_box .professional_flowinfo_box_in dl dd figure {
    display: block;
}
.professional .professional_flowinfo .professional_flowinfo_box .professional_flowinfo_box_in dl dd figure .flowinfo_illust {
    width: 85%;
    text-align: center;
    margin:0 auto 30px auto;
}
.professional .professional_flowinfo .professional_flowinfo_box .professional_flowinfo_box_in dl dd figure .flowinfo_illust img {
    max-height: 60px;
}
.professional .professional_flowinfo .professional_flowinfo_box .professional_flowinfo_box_in dl dd figure figcaption h3 {
    font-size: 17px;
    text-align: center;
  letter-spacing:1px;
}
.professional .professional_flowinfo .professional_flowinfo_forsalon h3 {
    font-size: 17px;
      /*margin-bottom: 20px;*/
}
.professional .professional_flowinfo .professional_flowinfo_forsalon p {
    line-height: 2.4;
    font-size: 13px;
}
  .professional .professional_flowinfo .professional_flowinfo_forsalon .btn_mail{
    margin: 20px auto 60px;
  }
.professional .professional_products h2 {
    width: 80%;/*180731_小沢100%から変更 */
}
.professional .professional_products .slider_professional {
    width: 94%;
    margin: 0 auto 40px;
}
.professional .professional_products .slider_professional li {
    text-align: left;
    width: auto !important;
    margin: 0 10px;
}
.professional .professional_pointstage {
    background: #f4f8f9;
    margin: 40px auto 50px;
    text-align: center;
    padding: 25px 10px 30px 10px;
      box-sizing: border-box;
}
.professional .professional_pointstage h3 {
    margin: 0 auto;
  width: 60%; /*180731_小沢85%から変更 効かないので下の方に新規追加してある*/
  font-size: 13px; /* 180731_小沢追記 */
}
.professional .professional_pointstage ul {
    width: 80%;/*180731_小沢100%から変更*/
    margin: 0 auto;/*180731_小沢bottom30pxから変更*/
}
.professional .professional_pointstage ul li{
  width:28%;    
}
.professional .professional_contact h3 {
    width: 30%;/*180718小沢65%から変更*//*180725金澤50%から変更*//*180731小沢38%から変更*/
  margin-bottom: 30px;/*180718小沢追記*/
}
.professional .professional_contact .contact_box_info {
    text-align: center;
    font-size: 13px;/*180718小沢18pxから変更*/
    line-height: 1.6;/*180718小沢2から変更*/
}
.professional .professional_contact .contact_box_info span {
  font-size:30px;
    display: block;
}
  
.product .product_mv nav {
    width: 100%;
    margin: 0 auto;
}
.product .product_mv nav ul li a {
    padding: 0;/*180718小沢 0 5pxから変更*/
}
.product .product_mv nav ul li img {
    width: auto;
    height: 30px;
}
.product .product_mv {
    margin-bottom: 70px;
}
.product .product_concept h2 {
    text-align: center;
    width: 30%;/*180718小沢80%から変更*/
    margin: 0 auto 20px;
}
.product .product_concept {
    text-align: center;
    margin-bottom: 70px;
}
.product .product_col {
    margin: 0 auto 50px;
}
.product .product_category {
    margin-bottom: 50px;
}
.product .product_col ul.product_list {
    width: 85%;
}
.product .product_col ul.shopall_list {
    width: 96.4%;
  justify-content:space-between;
}
  .product .product_col ul.shopall_list li {
    text-align: left;
    width: 48%;
    margin:0 0 30px 0;
}
  .product .product_col ul.shopall_list li .product_col_text img{
    height:45px;
  }
    .product .product_col .hair ul.shopall_list li .product_col_text img{
    height:45px;/*180907_小沢28pxから修正*/
  }
.product .product_col .product_bannar .product_bannar_return {
    display: block;
    margin-bottom: 50px;
}
.product .product_col .product_bannar .product_bannar_return .product_bannar_return_image {
    width: 100%;
    margin-bottom: 20px;
}
.product .product_col .product_bannar .product_bannar_return .product_bannar_return_text {
    width: 100%;
    white-space: initial;
    padding: 0 15px 30px 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.product .product_col .product_bannar .product_bannar_return .product_bannar_return_text h3 {
    width: 70%;/*180718小沢100%から変更*/
    margin-bottom: 20px;
}
.product .product_col .product_bannar .product_bannar_return .product_bannar_return_text p {
    font-size: 13px;
}
.product .product_col .product_bannar .product_bannar_return .product_bannar_return_text .btn_viewnow {
    width: 50%;/*180718小沢265pxから変更*/
    margin: 0 auto 15px auto;
}
  .product_name{
    font-size:11px;
  }
.product_name img {
    max-width: 100%;
    /*height: 35px;*/
}
  
/*180719*/
  /*残す*/
.product .product_col .product_bannar{
    background: #f0f5f5;
}
.product .product_col .product_bannar .product_bannar_return2 {
  display: block;
  margin-bottom: 50px;
}
.product .product_col .product_bannar .product_bannar_return2 .product_bannar_return_image {
  width: 100%;
  margin-bottom: 20px;
}
.product .product_col .product_bannar .product_bannar_return2 .product_bannar_return_text {
  width: 100%;
  white-space: initial;
  padding: 0 15px 0px 15px;
  margin-bottom: 0;
  box-sizing: border-box;
}
.product .product_col .product_bannar .product_bannar_return2 .product_bannar_return_text h3 {
  width: 100%;
  margin-bottom: 20px;
}
.product .product_col .product_bannar .product_bannar_return2 .product_bannar_return_text p {
  font-size: 13px;
  margin-bottom: 20px;
}
.product .product_col .product_bannar .product_bannar_return2 .product_bannar_return_text .btn_viewnow {
  width: 265px;
  margin: 0 auto 15px auto;
}
.product .product_col .product_bannar .product_bannar_points .btn_getpoint {
    width: 100%;
    margin: 20px auto 20px auto;
    position: static;
    left: 0;
    right: 0;
    bottom: 10px;
}
.product .product_col .product_bannar .product_bannar_points .btn_getpoint h3 {
    width: 83%;;
}
.product .product_col .product_bannar .product_bannar_points .btn_getpoint a {
    width: 50%;
    padding-bottom: 45px;
}
.professional .professional_concept .professional_concept_bannar .btn_artist {
    margin: auto;
    position: static;
    left: 0;
    right: 0;
    bottom: 55px;
    margin: 30px 0 auto;
}
.professional .professional_concept .professional_concept_bannar .btn_artist h3 {
    width: 85%;
    margin: 0 auto 40px auto;
}
.professional .professional_concept .professional_concept_bannar .btn_artist a {
    width: 50%;
    margin: 0 auto;
    display: block;
}

/* /180719*/
  
.product .product_transparency p.description {
    text-align: center;
    margin-bottom: 50px;
    font-size: 13px;
    letter-spacing: normal;
    line-height: 1.5;
}
.product .product_transparency .slider_product li {
    width: 94% !important;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    margin: 0 auto 30px auto;
  line-height:1.8;
}
.product .product_col ul.product_list li {
    text-align: left;
    width: auto!important;
    margin: 0 10px 30px 10px;
}
.product .product_col ul.product_list li .product_col_text img {
    height: 36px;
}
.product .product_col .hair ul.product_list li .product_col_text img {
    height: 36px; /*180907_小沢22pxから修正*/
}
.product .product_col ul.product_list li .product_col_text {
  margin: 18px 0 15px;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: normal;
}

.company .company_body table {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #000e46;
    font-size: 13px;
    line-height: 1.6;
}
.faq .faq_nav {
    text-align: left;
  padding: 20px 0;
}
.faq .faq_nav ul {
    display: block;
}
.faq .faq_nav ul li {
    padding: 15px;
}
  .contact .contact_head h1{ /*180805_小沢追加*/
    width:40%;
  }
  .contact .contact_in .contact_contact p.description{ /*180805_小沢追加*/
    font-size:16px;
  }
.contact .contact_contact h3 {
    width: 65%;
}
.contact .contact_contact .contact_box_info {
    text-align: center;
    font-size: 14px !important;
    line-height: 2;
}
.contact .contact_contact .contact_box_info span {
  font-size:26px !important;
    display: block;
}
.contact .contact_in ul li {
    font-size: 13px;
    text-align: left;
    margin-bottom: 20px;
  font-feature-settings : "palt" 1;/*180807_小沢追加*/
}
  .contact .contact_in ul li:after {
    content: url(/wp-content/themes/lapidem/img/arrow_triple_on.png);
    margin-left: 20px;
  }
.ingredients .ingredients_know h2 {
    width: 50%;/*180718小沢70%から変更*/
}
.ingredients .ingredients_unused h2 {
    width: 70%;/*180718小沢100%から変更*/
}
.ingredients .ingredients_unused .unused_box {
    padding: 15px;
    display: block;
    margin-bottom: 50px;
}
.ingredients .ingredients_unused .unused_box .unused_box_col {
    width: 100%;
    margin-bottom: 50px;
}
.ingredients .ingredients_list h2 {
    width: 70%;/*180718小沢90%から変更*/
}
.ingredients .ingredients_list h2 span {/*180903小沢追記*/
    font-size: 13px;
  }
.ingredients .ingredients_list .list_head ul.list_alpha li {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ingredients .ingredients_list .list_head ul.list_alpha li span {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 20px;
  padding-top:0;
}
.ingredients .ingredients_list ul li {
    width: 50%;
    height: auto;
}
.ingredients .ingredients_list .ingredients_list_box {
    width: calc(100vw - 16%);
    padding: 25px;
    box-sizing: border-box;
}
.ingredients .ingredients_list ul li dl dt .grid_active {
    width: 100%;
    height: 100%;
    font-size: 13px;
}
.ingredients .ingredients_list .ingredients_list_box .ingredients_list_box_in {
    display: block;
}
.ingredients .ingredients_list .ingredients_list_box .ingredients_list_box_image {
    width: 100%;
    margin-bottom: 30px;
}
.ingredients .ingredients_list .ingredients_list_box .ingredients_list_box_text {
    width: 100%;
}
.ingredients .ingredients_list ul li:nth-child(odd) .ingredients_list_box{
    margin-left: 0 !important;
}
.ingredients .ingredients_list ul li:nth-child(even) .ingredients_list_box:nth-child(even){
    margin-left: -100% !important;
}
.slick-prev {
    left: -18px;
    width: 15px;
}
.slick-next {
    right: -15px;
    width: 15px;
}
  

.footer_nav{
  width: 80%;
  margin: 0 auto;
}
footer .footer_in .footer_nav nav.footer_nav_top ul li{
  border-right: 2px solid #131e3c;
}
  
footer .footer_in .footer_top .footer_contact .footer_contact_box {
  margin: 0 20px 60px !important;
  width: 89%;
}
footer .footer_in .footer_top .footer_contact .footer_contact_box input[type=email] {
    font-size: 10px;
    margin-top: -10px;
  box-sizing:border-box;
  width: 100% !important;
  text-align: left;/*180731小沢追記*/
}
footer .footer_in .footer_top .footer_contact .footer_contact_box input[type=submit] {
    font-size: 10px;
    width: 35%;
}
footer .footer_in .footer_nav nav.footer_nav_top ul {
    flex-wrap: wrap;
  margin-bottom: 15px;
}
footer .footer_in .footer_nav nav.footer_nav_top ul li {
    width: 100%;
    /*border-right: none;*/
    margin-bottom: 15px;
  box-sizing:border-box;
  font-size: 10px;
}
footer .footer_in .footer_nav nav.footer_nav_bottom ul {
    justify-content: space-between;
}
footer .footer_in .footer_nav nav.footer_nav_bottom ul li {
    font-size: 10px;
    width: 50%;
  margin: 0;
}
footer {
    margin-top: 60px;
}
footer .footer_in {
    width: 94%;
    margin: 0 auto 20px;
    padding-bottom: 20px;
  border-bottom: 3px solid #131e3c;
    display:block;
}
footer .footer_in .footer_left {
    width: 100%;
}
footer .footer_in .footer_right {
    width: 100%;
}
  
  footer .copy{
    font-size: 10px;
    line-height: 1.7;
  }
.mktoForm .mktoButtonWrap.mktoInset .mktoButton{
    margin-left: 137px;
}
  
/*180718小沢追記*/
.show_more{
  width: 50%;
  margin:0 auto ;
  position: relative;
    padding-top: 0px;
  }
.privacy .privacy_head h1 {
  font-size:24px;
  margin-bottom:0px;
  }
  
.product .product_col h2{
  width:40%;/*180830小沢80%から変更*/
  margin-bottom:30px;
  } 
  
.product .product_col .product_category_skin{ /*180805小沢追加*/
  width:40%;
  margin-bottom:30px;
  } 
  .product .product_col .product_category_body{ /*180805小沢追加*/
  width:40%;
  margin-bottom:30px;
  }
  .product .product_col .product_category_hair{ /*180805小沢追加*/
  width:40%;
  margin-bottom:30px;
  }

.values_box .values_col .values_col_text_left .value_transparency{
  width:50%;
  margin:0 auto 10px auto;
  }
.values_box .values_col .values_col_text_left .value_innovation{
  width:40%;
  margin:0 auto 10px auto;
  }
.values_box .values_col .values_col_text_left .value_quality{
  width:30%;
  margin:0 auto 10px auto;
  }
p{
  font-size: 13px;
  }
.aboutus .aboutus_values .values_box .values_col h4 {
  font-size:18px;
  text-align:center;
}
.ingredients .ingredients_unused p {
  font-size: 13px;
}
.ingredients .ingredients_unused .unused_box .unused_box_col dl dd {
  font-size: 13px;
  }
.factory .factory_description h2{
  width:45%;
  }
.factory .factory_manufacturing .factory_manufacturing_box dl dd p {
  font-size: 13px;
  }
.factory .factory_mv{
  margin-bottom: 0px;
  }
.factory .factory_mv h1 {
  margin-bottom: 50px;
  }
.factory .factory_description {
  margin-bottom: 50px;
  }
.factory .factory_manufacturing {
  margin-bottom: 50px;
  }
  
.professional .professional_concept h2 span {
  margin-top: 5px;
  }
.privacy .privacy_head {
  margin-bottom: 30px;
  }
.product .product_transparency h2 {
  width:50%;
  }
.spa .spa_menu .spa_menu_access .btn_map {
  width:35%;
  }
.spa_menu .spa_menu_pointstage h3{
  width:60%;
  }
  .awords .awords_head h1{
    width:30%;
  }
  .awords .awords_body dl dt{
    font-size:24px;
  }
  .awords .awords_body dl dd{
    font-size:13px;
    line-height: 1.6;
  }
  .awords .awords_body dl dd i{
    font-size:13px;
  }
  .awords .awords_body dl dd li{
    margin-bottom: 50px;
  }
  .privacy .privacy_head h1 span {
  margin:10px 0 20px 0;
  }
  .adress_box{
    margin: 20px auto;
    width: 95%;
}
  .privacy ul.privacy_list {
    font-size: 13px;
  }
  .artist_contact{
    width:50%;
    margin:0 auto;
  }
  
  .privacy .privacy_body h2 {
  font-weight: bold;
    line-height: 1.4;
    font-size: 15px;
  }
.disp_sp80{ width: 80%; margin-left: auto; margin-right: auto;}
  
.professional .professional_flowinfo .professional_flowinfo_box .professional_flowinfo_box_in dl dt img,
  .factory .factory_manufacturing .factory_manufacturing_box dl dt img{
    width: 30px !important;
  }
.professional .professional_concept .professional_concept_box ul li figure .concept_box_icon img{
  max-width: 70px !important;
  }
  .ingredients .ingredients_list .list_head ul.list_alpha li{
    width: 25px;
    height: 50px;
    padding: 0px 5px 0;
  }
  /*180731小沢追記*/
  .professional .professional_pointstage h3 {
  width: 60%;
  }
    footer .footer_in .footer_nav nav.footer_nav_bottom ul li .ja {
 display: none;
}
/*180801小沢spメニューに日本語表示追加のため追記*/
/*
  .sp_menu_shopall{
    font-size:10px;
    display:inline;
    margin-left:45px;
  }
  .sp_menu_product{
    font-size:10px;
    display:inline;
    margin-left:47px;
  }
  .sp_menu_spa{
    font-size:10px;
    display:inline;
    margin-left:76px;
  }
  .sp_menu_professional{
    font-size:10px;
    display:inline;
    margin-left:15px;
  }
  .sp_menu_aboutus{
    font-size:10px;
    display:inline;
    margin-left:36px;
  }
  .sp_menu_ingredient{
    font-size:10px;
    display:inline;
    margin-left:30px;
  }
  .sp_menu_factory{
    font-size:10px;
    display:inline;
    margin-left:44px;
  }
  .sp_menu_awards{
    font-size:10px;
    display:inline;
    margin-left:52px;
  }
*/
/*180802_小沢 30days_trial用*/
  .professional .trial_concept {
    margin-bottom: 30px;
}
.professional .trial_concept h2 {
    width: 60%;
    margin: 0 auto 20px;
}
.professional .trial_flowinfo h2 {
    width: 80%;
    margin: 0 auto 20px;
}
.professional .trial_flowinfo .trial_flowinfo_box {
    border: 3px solid #000e46;
    padding: 15px;
    margin-bottom: 40px;
}
.professional .trial_flowinfo .trial_flowinfo_box .trial_flowinfo_box_in dl {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.professional .trial_flowinfo .trial_flowinfo_box .trial_flowinfo_box_in dl dt {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px;
}
.professional .trial_flowinfo .trial_flowinfo_box .trial_flowinfo_box_in dl dd {
    width: 100%;
}
.professional .trial_flowinfo .trial_flowinfo_box .trial_flowinfo_box_in dl dd figure {
    display: block;
}
.professional .trial_flowinfo .trial_flowinfo_box .trial_flowinfo_box_in dl dd figure .flowinfo_illust {
    width: 85%;
    text-align: center;
    margin:0 auto 30px auto;
}
.professional .trial_flowinfo .trial_flowinfo_box .trial_flowinfo_box_in dl dd figure .flowinfo_illust img {
    max-height: 60px;
}
.professional .trial_flowinfo .trial_flowinfo_box .trial_flowinfo_box_in dl dd figure figcaption h3 {
    font-size: 17px;
    text-align: center;
  letter-spacing:1px;
}
.professional .trial_flowinfo .trial_flowinfo_box .trial_flowinfo_box_in dl dd figure figcaption{
  text-align:center;
}
  .professional .trial_notes{
  margin:30px auto;
  width:90%;
  }
/*180802_小沢 30days_trial用end*/
  
  /*180802_小沢 artist_program用*/
  .professional .artist_concept {
    margin-bottom: 30px;
}
.professional .artist_concept h2 {
    width: 60%;
    margin: 0 auto 20px;
}
.professional .artist_flowinfo h2 {
    width: 80%;
    margin: 0 auto 20px;
}
.professional .artist_flowinfo .artist_flowinfo_box {
    border: 3px solid #000e46;
    padding: 15px;
    margin-bottom: 40px;
}
.professional .artist_flowinfo .artist_flowinfo_box .artist_flowinfo_box_in dl {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.professional .artist_flowinfo .artist_flowinfo_box .artist_flowinfo_box_in dl dt {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px;
}
.professional .artist_flowinfo .artist_flowinfo_box .artist_flowinfo_box_in dl dd {
    width: 100%;
}
.professional .artist_flowinfo .artist_flowinfo_box .artist_flowinfo_box_in dl dd figure {
    display: block;
}
.professional .artist_flowinfo .artist_flowinfo_box .artist_flowinfo_box_in dl dd figure .flowinfo_illust {
    width: 85%;
    text-align: center;
    margin:0 auto 30px auto;
}
.professional .artist_flowinfo .artist_flowinfo_box .artist_flowinfo_box_in dl dd figure .flowinfo_illust img {
    max-height: 60px;
}
.professional .artist_flowinfo .artist_flowinfo_box .artist_flowinfo_box_in dl dd figure figcaption h3 {
    font-size: 17px;
    text-align: center;
  letter-spacing:1px;
}
.professional .artist_notes{
  margin:30px auto;
  width:90%;
  }
.professional .artist_notes h2{
  text-align: center;
    font-size: 24px;
    margin-bottom: 0;
  }
  
.professional .artist_flowinfo .artist_flow_start_box {
    border: 3px solid #000e46;
    padding: 15px;
    margin-bottom: 40px;
}
.professional .artist_flowinfo .artist_flow_start_box {
  text-align: center
}
.professional .artist_notes .artist_notes_box{
  padding:30px 0 !important;
}
.professional .artist_notes .artist_to_top{
font-size:small;
}
/*180802_小沢 artist_program用end*/
/*180802_小沢 invitation用*/
.professional .invitation_flowinfo h2 {
    width: 80%;
    margin: 0 auto 20px;
}
.professional .invitation_flowinfo .invitation_flowinfo_box {
    border: 3px solid #000e46;
    padding: 15px;
    margin-bottom: 40px;
}
.professional .invitation_flowinfo .invitation_flowinfo_box .invitation_flowinfo_box_in dl {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.professional .invitation_flowinfo .invitation_flowinfo_box .invitation_flowinfo_box_in dl dt {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px;
}
.professional .invitation_flowinfo .invitation_flowinfo_box .invitation_flowinfo_box_in dl dd {
    width: 100%;
}
.professional .invitation_flowinfo .invitation_flowinfo_box .invitation_flowinfo_box_in dl dd figure {
    display: block;
}
.professional .invitation_flowinfo .invitation_flowinfo_box .invitation_flowinfo_box_in dl dd figure .flowinfo_illust {
    width: 85%;
    text-align: center;
    margin:0 auto 30px auto;
}
.professional .invitation_flowinfo .invitation_flowinfo_box .invitation_flowinfo_box_in dl dd figure .flowinfo_illust img {
    max-height: 60px;
}
.professional .invitation_flowinfo .invitation_flowinfo_box .invitation_flowinfo_box_in dl dd figure figcaption h3 {
    font-size: 17px;
    text-align: center;
  letter-spacing:1px;
}
.professional .invitation_flowinfo .invitation_flowinfo_box .invitation_flowinfo_box_in dl dd figure figcaption{
  width: auto;
}
/*180802_小沢 invitation用end*/  

/*180805_小沢追記*/
.five-elements .five-elements_head h1 {
  width: auto !important;
}
  .five-elements .five-elements_head p {
    text-align:left;
}
  .five-elements .five-elements_activemethod p {
  text-align:left;
}
  .five-elements .five-elements_naturalposture p {
  text-align:left;
}
  .five-elements .illust_five_elements{
  width:100%;
}
.welcom_lapidem {
  display:block;
  margin: 50px auto;
}
.welcom_lapidem h2 {
  width: 90%;
  margin: 0 auto 20px auto;
}
.welcom_lapidem p.desc {
  text-align: center;
  margin-bottom: 30px;
}
.welcom_lapidem .btn_welcome_newmember {
  display: block;
  border: 1px solid #000037;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  margin-bottom: 45px;
}
.btn_online_lab {
  display: block;
  /*border: 1px solid #fff;*/
  background-color: #000037;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 13px;
  margin-bottom: 45px;
}
.btn_online_lab a:hover,
.btn_online_lab a:visited {
    color: #fff;
    border: none;
}

  
}.welcom_lapidem .btn_welcome_newmember:before {
  content: url('../wp-content/themes/lapidem/img/icon_newmember.svg');
  width: 27px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.welcom_lapidem .welcome_col {
  background: #101938;
  padding: 45px 20px;
  color: #FFF;
  margin-bottom: 30px;
}
.welcom_lapidem .welcome_col h3 {
  text-align: center;
  font-size: 5vw;
  margin-bottom: 30px;
  font-weight:bold;
}
.welcom_lapidem .welcome_col .welcome_col_box {
  margin-bottom: 45px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  position: relative;
}
.welcom_lapidem .welcome_col .welcome_col_box:last-child {
  border-bottom: 0;
  margin-bottom:0;
  padding-bottom:0;
}
.welcom_lapidem .welcome_col .welcome_col_box h4 {
    font-size: 3.8vw;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 1px;
  color: #fff;
}
.welcom_lapidem .welcome_col .welcome_col_box p {
    width: 80%;
    padding-left: 1.5em;
    box-sizing: border-box;
    color: #fff;
    letter-spacing: normal;
    line-height: 1.7;
  font-size: 2.8vw;
}
.welcom_lapidem .welcome_col .welcome_col_box figure {
    position: absolute;
    width: 40px;
    bottom: 0;
    right: 0;
    height: 40px;
    top: 0;
    margin: auto;
}
.welcom_lapidem .welcome_col .welcome_col_box a {
  color: #FFF;
  /*text-decoration: underline; 180904小沢コメントアウト*/
}
.welcom_lapidem .welcome_col .welcome_col_box a:hover {
  text-decoration: none;
}
.welcom_lapidem .welcome_artist_col {
  border: 2px solid #101938;
  padding: 20px;
  position: relative;
  color: #101938;
}
.welcom_lapidem .welcome_artist_col h3 {
  text-align: center;
  font-size: 5vw;
  margin-bottom: 30px;
  font-weight:bold;
}
.welcom_lapidem .welcome_artist_col h4 {
    font-size: 3.8vw;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}
.welcom_lapidem .welcome_artist_col p {
  width: 80%;
  padding-left: 1.5em;
  box-sizing: border-box;
  letter-spacing: normal;
    line-height: 1.7;
  font-size: 2.8vw;
}
.welcom_lapidem .welcome_artist_col figure {
  position: absolute;
    width: 15%;
    top: 35%;
    right: 20px;
}
.welcom_lapidem .welcome_artist_col a {
  color: #101938;
  /*text-decoration: underline;*/
}
.welcom_lapidem .welcome_artist_col a:hover { /*1808小沢追記*/
  text-decoration: none;
}
.head_title_ja{　/*1808小沢追記*/
  margin-bottom:10px;
}
}

/* 180723 金澤productページの画像切り替えのため追記 */
.pc-img { display: block !important; }
.sp-img { display: none !important; }

@media only screen and (max-width: 567px) {
.pc-img { display: none !important; }
.sp-img { display: block !important; }
}
/* 180723 金澤ingredientsページの改行切り替えのため追記 */
@media screen and (min-width: 568px){ 
  .br-pc { display:block; }
  .br-sp { display:none; }
}
@media screen and (max-width: 567px){ 
  .br-pc { display:none; }
  .br-sp { display:block; }
}
/* 180723 金澤ingredientsのspページのみ背景カラー変更のため追記 */
@media screen and (max-width: 568px){ 
  .ingredients .ingredients_unused {
    background: #e9efef;
    padding-top: 70px;
}
    .ingredients .ingredients_know {
    margin-bottom: 100px;
}   
}

.btn_online_lab_p{
  width: 60%;
  margin: 0 auto;
}

/*180911小沢追記*/
@media screen and (max-width:567px) {
.awords .awords_head{
  margin-bottom:60px;
} 
  .awords .awords_head h1{
  margin:0 auto 40px;
}
.awords .awords_head ul.awords_bannar{
  width: 80%;
}
.awords .awords_head ul.awords_bannar li{
  width: 40%;
  margin-top:30px;
}
.awords .awords_body .awardyear h2 img{
  width: 20%;
}

.awords .awords_body .awardyear table{
  margin: 40px auto;
  width: 80%;
}
.awords .awords_body .awardyear tr {
  margin-top:10px;
}
.awords .awords_body .awardyear td {
  line-height: 1.6;
}
.awords .awords_body .awardyear .given_month {
  width: 15%;
  font-size: 12px;
}
.awords .awords_body .awardyear .given_award {
  width:85%;
  font-size:12px;
}
.awords .awords_body .awardyear .given_month_2017{
  font-size: 12px;
}
}
/*180911小沢追記end*/


/*ドロップダウンメニューのスタイル*/

#mdropmenu{
     font-size:18px;
     width:100%;
     max-width:500px;
     list-style-type: none;
     border-top:0;
     padding-top: 50px;
   }
     #mdropmenu a {
     text-decoration: none;
    }
    #mdropmenu i{
     font-size:12px;
    }
    #mdropmenu li{
     border-top:0px solid #585858;
    }
    #mdropmenu li ul{
     display:none;
     list-style-type: none;
    }
    #mdropmenu table{
     width:100%;
     min-height:50px;
     margin:0;
     padding:0;
     border:0;
    }
    .mlist-left{
     width:39%;
     padding:0px 10px;
     vertical-align:middle;
     font-size:10px;
    }
    .mlist-left_last{
     width:32%;
     padding:0px 10px;
     vertical-align:middle;
     font-size:10px;
    }
    .mlist-left_banner{
     width:32%;
     padding:0px 0px;
     vertical-align:middle;
     font-size:10px;
    }
    .mlist-center{
     width:50%;
     padding:5px 0px;
     vertical-align:middle;
     font-size:10px;
    }
    .mlist-right{
     vertical-align: middle;
     text-align: center;
     padding: 0px;
    }
    .mlist-full{
     width: 100%;
     padding: 5px;
     vertical-align: middle;
    }
    .mleft-second , .mright-second{
    font-size: 12px;
    text-align: left;
    }

    .mleft-second{
     padding-left: 0px;
    }

.blank{
    display: none;
}